body {
    background-color: #f6ebd0;
    color: #542c38;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.61em;
}

.container {
    margin: 85px auto;
    width: max-content;
}

.heading {
    font-size: 30px;
    letter-spacing: .07em;
    text-align: center;    
}

.heading a, .sub-heading a {
    color: #542c38;
    text-decoration: none;
}

.heading a:hover, .sub-heading a:hover {
    color: #2c4554;
}

.sub-heading {
    font-size: 15px;
    letter-spacing: .07em;
    line-height: .3em;
    text-align: right;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 400px;
}

.break {
    display: block;
    height: 1px;
}
