body {
    background-color: #f6ebd0;
    color: #542c38;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.61em;
}

.container {
    margin: 85px auto;
    width: max-content;
}

.heading {
    font-size: 30px;
    letter-spacing: .07em;
    padding-bottom: 15px;
    text-align: center;
}

.heading a {
    color: #542c38;
    text-decoration: none;
}

.heading a:hover {
    color: #2c4554;
}

.lists-container {
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.placeholder {
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    vertical-align: top;
}

.list {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.list .sub-heading {
    font-size: 20px;
    font-style: italic;
    letter-spacing: .07em;
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
}

.list._grouped .group {
    display: block;
}

.list.red .group:hover {
    background-color: #cd8b7e;
    color: #2c4554;
}

.list.red .sub-heading:hover {
    color: #cd8b7e;
}

.list.orange .item:hover {
    background-color: #d8aa66;
    color: #2c4554;
}

.list.orange .sub-heading:hover {
    color: #d8aa66;
}

.list.turquoise .item:hover {
    background-color: #84bd99;
    color: #2c4554;
}

.list.turquoise .sub-heading:hover {
    color: #84bd99;
}

.list.green .item:hover {
    background-color: #b1c06e;
    color: #2c4554;
}

.list.green .sub-heading:hover {
    color: #b1c06e;
}

.list.blue .group:hover {
    background-color: #8ba4bb;
    color: #2c4554;
}

.list.blue .sub-heading:hover {
    color: #8ba4bb;
}

.list.mauve .item:hover {
    background-color: #bb9a8b;
    color: #2c4554;
}

.list.mauve .sub-heading:hover {
    color: #bb9a8b;
}

.list .item {
    font-size: 15px;
    margin: 5px auto 5px 12px;
}

.list .caption {
    font-size: 15px;
    font-style: italic;
    margin: 5px 12px 5px auto;
    text-align: right;
}
