body {
    background-color: #f6ebd0;
    color: #542c38;
	font-family: 'Quattrocento Sans', sans-serif;
}

.container {
    margin: 85px auto;
    width: max-content;
}

.heading {
    font-size: 30px;
    letter-spacing: .07em;
    padding-bottom: 15px;
    text-align: center;
}

.heading a {
    color: #542c38;
    text-decoration: none;
}

.heading a:hover {
    color: #2c4554;
}

.sub-heading {
    font-size: 14px;
    font-style: italic;
    letter-spacing: .07em;
    line-height: .3em;
    margin-bottom: 25px;
    text-align: left;
}

.date-container {
    width: max-content;
    max-width: 67%;
}

.images-container {
    /*
    display: block;
    margin-bottom: 25px;
    position: relative;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
    /* width: 67%; */
}

.image-caption {
    display: inline-block;
    position: relative;
}

/*
.image-caption {
    display: block;
    margin-bottom: 25px;
    position: relative;
}
*/

.image-caption img {
    height: 200px;
    width: 200px;
}

.image-caption .caption {
    display: none;
    font-size: 14px;
    position: absolute;
    top: 5%;
    right: 10%;
}

.image-caption:hover img {
    opacity: .1;
}

.image-caption:hover .caption {
    display: inline-block;
}