body {
    background-color: #f6ebd0;
    color: #542c38;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.61em;
}

.heading-container {
    margin: 85px auto;
    width: max-content;
}

.heading {
    font-size: 30px;
    letter-spacing: .07em;
    text-align: center;    
}

.sub-heading {
    font-size: 18px;
    letter-spacing: .07em;
    line-height: .3em;
    text-align: right;
}

.heading a, .sub-heading a {
    color: #542c38;
    text-decoration: none;
}

.heading a:hover, .sub-heading a:hover {
    color: #2c4554;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 67%;
}

.box, .image {
    display: inline-block;
    font-size: 15px;
    margin: 20px 0;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    
}

.box-text-multi {
    display: inline-block;
    vertical-align: middle;
    /* line-height */
}

.ginger img {
    margin-top: -45px;
}

.igor img {
    margin-top: -35px;
}

.call-me-by-your-name img {
    margin-top: -45px;
}

.kurtis img {
    margin-top: -75px;
}

.kevin img {
    margin-top: -20px;
}

.yellow {
    background-color: #f2ea62; 
}

.blue {
    background-color: #8ba4bb;
}

.green {
    background-color: #b1c06e;
}

.orange {
    background-color: #d8aa66;
}

.mauve {
    background-color: #bb9a8b;
}

.red {
    background-color: #cd8b7e;
}

.turquoise {
    background-color: #84bd99;
}
